## --- .NET / C# (Recursive) ---
**/bin/
**/obj/
**/out/

## --- VS Code / Tools ---
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.history/

## --- Solution specific ---
*.user
.env

# --- Frontend Modules ---
node_modules/
dist/
.eslintcache